package modelo;

public class Ticket {
    private String id;
    private String pasajero;
    private String origen;
    private String destino;

    public Ticket(String id, String pasajero, String origen, String destino) {
        this.id = id;
        this.pasajero = pasajero;
        this.origen = origen;
        this.destino = destino;
    }

    public String getId() { return id; }
    public String getPasajero() { return pasajero; }
    public String getOrigen() { return origen; }
    public String getDestino() { return destino; }
    
    public void setPasajero(String pasajero) {
    this.pasajero = pasajero;
}

public void setOrigen(String origen) {
    this.origen = origen;
}

public void setDestino(String destino) {
    this.destino = destino;
}

    @Override
    public String toString() {
        return id + "," + pasajero + "," + origen + "," + destino;
    }
}